* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /*z-index specifies the stack order of an element -> 
    999 to ensure it's always on the top*/
    z-index: 999; 
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-image: linear-gradient(to top, #6039d5 0%, #65d1bab9 100%);
    background-color: #08ff6b; /*Brighten up the gradient a bit*/
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none; /*Remove hyperlink underline*/
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: rgb(149, 207, 243);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
}


/* Quiz Functions 'main' Section */
.main {
    background: linear-gradient(-45deg, #a04fc0, #553993, #3a52ce, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    padding: 10rem 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0, 50px;
}

.main_content {
    color: #fff;
    width: 100%;
}

.main_content h1 {
    color: #131313;
}



.main_btn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.main_btn a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.872);
}

.main_btn:active,
.main_btn:hover {
  outline: 0;
}

.main_btn span {
  background-color: rgb(16, 17, 69);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.main_btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .main_btn {
    font-size: 24px;
    min-width: 196px;
  }
}
.selectQuiz li {
    list-style-type: none;
}
.selectQuiz button{
    display: block;
    width: 150%;
    padding: 10px 100px 10px 100px;
}

/* ------------ Developers ------------*/

.developer_wrapper {
    background: #8c7ae6;
    text-align: center;
    padding-bottom: 40px;
}

.developer_wrapper h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 25px;
    padding-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.developer_wrapper .our_group {
    display: flex;
    width: auto;
    justify-content: center;
}

.developer_wrapper .our_group .group_member {
    width: 250px;
    margin: 5px;
    background: #fff;
    padding: 20px, 10px;
}

.developer_wrapper .our_group .group_member .member_image {
    background: #fff;
    max-width: 190px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.developer_wrapper .our_group .group_member .member_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.developer_wrapper .our_group .group_member h3 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 2px;
    letter-spacing: 2px;
    margin: 15px 0 0;
    padding-bottom: 10px;
}

.developer_wrapper .our_group .group_member span {
    font-size: 14px;
}

.developer_wrapper .our_group .group_member p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
}


/* ------------ Footer ------------ */
.Footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.Footer p {
    color: #8a8a8a;
}

.Footer .Row {
    display: flex;
}

.Footer-col-1 {
    flex: 1;
    text-align: center;
}
.Footer-col-1 img {
    width: 100px;
    margin-bottom: 20px;
}

.Footer hr {
    border: none;
    background: #8a8a8a;
    height: 1px;
    margin: 20px 0;
}

.Copyright {
    display: flex;
    justify-content: center;
}
